<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>me.mailcatcher</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/voldmar/.rbenv/shims/mailcatcher</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>voldmar</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/var</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/mailcatcher.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/mailcatcher.log</string>
  </dict>
</plist>

